# Frontend specific
frontend

# Backend specific
backend/__pycache__
backend/Memory/__pycache__
backend/Memory/lancedb_data
backend/Memory/Agent1_LanceDB

backend/LLM/__pycache__
backend/LLM/other

backend/voice

backend/Agent/__pycache__
backend/Movements/__pycache__
backend/plugins/__pycache__
backend/plugins/plugins/__pycache__
backend/plugins/plugins/plugins/__pycache__
